{% extends 'core/index.html' %}

{% block title %}
    {{object.name}}
{% endblock title %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <div class="container py-4">
            {{form.as_p}}
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-success w-100">Save</button>
                </div>
                <div class="col-4">
                    <a href="{% url 'teachers_list' %}" class="btn btn-warning w-100">Cancel</a>
                </div>
                <div class="col-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete Teacher
                    </button>
                </div>
            </div>

        </div>
    </form>

      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete <span class="text-info">{{ object.name }}</span> teacher</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Note that once you delete this teacher, you can not restore this student !
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'teacher_delete' object.id %}" method="POST">
                {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}